<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.mapper.ProBMapper" >
  <resultMap id="BaseResultMap" type="com.yh.pojo.ProB" >
    <id column="pro_b_id" property="proBId" jdbcType="INTEGER" />
    <result column="pro_b_us_id" property="proBUsId" jdbcType="INTEGER" />
    <result column="pro_b_file" property="proBFile" jdbcType="VARCHAR" />
    <result column="pro_b_goal" property="proBGoal" jdbcType="VARCHAR" />
    <result column="pro_b_address" property="proBAddress" jdbcType="VARCHAR" />
    <result column="pro_b_money" property="proBMoney" jdbcType="VARCHAR" />
    <result column="pro_b_datenum" property="proBDatenum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pro_b_id, pro_b_us_id, pro_b_file, pro_b_goal, pro_b_address, pro_b_money, pro_b_datenum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yh.pojo.ProBExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pro_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_b
    where pro_b_id = #{proBId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_b
    where pro_b_id = #{proBId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yh.pojo.ProBExample" >
    delete from pro_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yh.pojo.ProB" >
    insert into pro_b (pro_b_id, pro_b_us_id, pro_b_file, 
      pro_b_goal, pro_b_address, pro_b_money, 
      pro_b_datenum)
    values (#{proBId,jdbcType=INTEGER}, #{proBUsId,jdbcType=INTEGER}, #{proBFile,jdbcType=VARCHAR}, 
      #{proBGoal,jdbcType=VARCHAR}, #{proBAddress,jdbcType=VARCHAR}, #{proBMoney,jdbcType=VARCHAR}, 
      #{proBDatenum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.pojo.ProB" >
    insert into pro_b
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proBId != null" >
        pro_b_id,
      </if>
      <if test="proBUsId != null" >
        pro_b_us_id,
      </if>
      <if test="proBFile != null" >
        pro_b_file,
      </if>
      <if test="proBGoal != null" >
        pro_b_goal,
      </if>
      <if test="proBAddress != null" >
        pro_b_address,
      </if>
      <if test="proBMoney != null" >
        pro_b_money,
      </if>
      <if test="proBDatenum != null" >
        pro_b_datenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proBId != null" >
        #{proBId,jdbcType=INTEGER},
      </if>
      <if test="proBUsId != null" >
        #{proBUsId,jdbcType=INTEGER},
      </if>
      <if test="proBFile != null" >
        #{proBFile,jdbcType=VARCHAR},
      </if>
      <if test="proBGoal != null" >
        #{proBGoal,jdbcType=VARCHAR},
      </if>
      <if test="proBAddress != null" >
        #{proBAddress,jdbcType=VARCHAR},
      </if>
      <if test="proBMoney != null" >
        #{proBMoney,jdbcType=VARCHAR},
      </if>
      <if test="proBDatenum != null" >
        #{proBDatenum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yh.pojo.ProBExample" resultType="java.lang.Integer" >
    select count(*) from pro_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pro_b
    <set >
      <if test="record.proBId != null" >
        pro_b_id = #{record.proBId,jdbcType=INTEGER},
      </if>
      <if test="record.proBUsId != null" >
        pro_b_us_id = #{record.proBUsId,jdbcType=INTEGER},
      </if>
      <if test="record.proBFile != null" >
        pro_b_file = #{record.proBFile,jdbcType=VARCHAR},
      </if>
      <if test="record.proBGoal != null" >
        pro_b_goal = #{record.proBGoal,jdbcType=VARCHAR},
      </if>
      <if test="record.proBAddress != null" >
        pro_b_address = #{record.proBAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.proBMoney != null" >
        pro_b_money = #{record.proBMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.proBDatenum != null" >
        pro_b_datenum = #{record.proBDatenum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pro_b
    set pro_b_id = #{record.proBId,jdbcType=INTEGER},
      pro_b_us_id = #{record.proBUsId,jdbcType=INTEGER},
      pro_b_file = #{record.proBFile,jdbcType=VARCHAR},
      pro_b_goal = #{record.proBGoal,jdbcType=VARCHAR},
      pro_b_address = #{record.proBAddress,jdbcType=VARCHAR},
      pro_b_money = #{record.proBMoney,jdbcType=VARCHAR},
      pro_b_datenum = #{record.proBDatenum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.pojo.ProB" >
    update pro_b
    <set >
      <if test="proBUsId != null" >
        pro_b_us_id = #{proBUsId,jdbcType=INTEGER},
      </if>
      <if test="proBFile != null" >
        pro_b_file = #{proBFile,jdbcType=VARCHAR},
      </if>
      <if test="proBGoal != null" >
        pro_b_goal = #{proBGoal,jdbcType=VARCHAR},
      </if>
      <if test="proBAddress != null" >
        pro_b_address = #{proBAddress,jdbcType=VARCHAR},
      </if>
      <if test="proBMoney != null" >
        pro_b_money = #{proBMoney,jdbcType=VARCHAR},
      </if>
      <if test="proBDatenum != null" >
        pro_b_datenum = #{proBDatenum,jdbcType=INTEGER},
      </if>
    </set>
    where pro_b_id = #{proBId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.pojo.ProB" >
    update pro_b
    set pro_b_us_id = #{proBUsId,jdbcType=INTEGER},
      pro_b_file = #{proBFile,jdbcType=VARCHAR},
      pro_b_goal = #{proBGoal,jdbcType=VARCHAR},
      pro_b_address = #{proBAddress,jdbcType=VARCHAR},
      pro_b_money = #{proBMoney,jdbcType=VARCHAR},
      pro_b_datenum = #{proBDatenum,jdbcType=INTEGER}
    where pro_b_id = #{proBId,jdbcType=INTEGER}
  </update>
</mapper>