<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<meta charset="UTF-8">
<meta name="Keywords" content="关键词,关键词">
<meta name="description" content="">
<title></title>
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/headbott.css" type="text/css" />
<link rel="stylesheet" href="css/index.css" type="text/css" />
<link rel="stylesheet" href="css/ly-list.css" type="text/css" />

<script type="text/javascript" src="js/jquery-1.42.min.js"></script>
</head>

<body>

	<script type="text/javascript">
		$.ajax({
			//请求方式
			type : "POST",
			//请求的媒体类型
			contentType : "text/html;charset=UTF-8",
			//请求地址
			url : "/information",
			//数据，json字符串
			//data : JSON.stringify(list),
			//请求成功
			dataType : "json",
			success : function(result) {
				var b = [ 7 ];
				b[0] = result.data[0];
				b[1] = result.data[1];
				b[2] = result.data[2];
				b[3] = result.data[3];
				b[4] = result.data[4];
				b[5] = result.data[5];
				b[6] = result.data[6];
				console.log(b);

				new Vue({
					el : "#information",
					data : {
						items : b,
						videoUrl : 'https://media.w3.org/2010/05/sintel/trailer.mp4'
					},
					methods : {
						changeVideo : function(e) {
							this.videoUrl = e.target.dataset.video;
							this.$refs.myVideo.load();
							this.$refs.myVideo.play();
						}
					}
				});
				console.log(result.data[0]);
				var c = [ 1 ];
				c[0] = result.data[0];
				new Vue({
					el : "#information2",
					data : {
						items : c
					}
				});

				var d = [ 2 ];
				d[1] = result.data[1];
				new Vue({
					el : "#information3",
					data : {
						items : d
					}
				});

				var e = [ 4 ];
				e[3] = result.data[3];
				new Vue({
					el : "#information4",
					data : {
						items : e
					}
				});

			}
		}, true);
	</script>


	<div id="header">
		<div class="heade-con">
			<div class="logo">
				<a href=""><img src="images/LOGO.png" /></a>
			</div>
			<div class="nav posa">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li><a href="gyzc-list.html">公益众筹</a></li>
					<li><a href="cop.html">常见问题</a></li>
					<li><a href="ly-list.html" class="vcolor">众筹资讯</a></li>
					<li><a href="new_product.html" style="">发布项目</a></li>
				</ul>
			</div>
			<div class="search" style="left:664px;">
				<form action="">
					<input type="text" class="search-txt" value="" placeholder="找项目">
					<input type="submit" class="search-but" value="">
				</form>
			</div>
			<div class="index-login" id="index-login">

				<a href="login.html">登录</a> <span style="color: white;">|</span> <a
					href="reg.html">注册</a>
			</div>
		</div>
	</div>

<script type="text/javascript" src="js/goindex.js"></script>
	<div class="ly-list_con">
		<div class="ly-list_conl"  id="information">
			<div class="ly-list_conltit">
				<i></i>路演视频
			</div>
			<div class="ly-list_conlcon">
				<li><a v-for="b in items" @click="changeVideo"
					:data-video="b.psVideo" href="javascript:;">{{b.psName}}</a></li>
			</div>
			
			<div class="ly-l_csp" style="margin-left: 40%;margin-top: 105px">
				<video ref="myVideo" width="530" height="360" autoplay="autoplay"
					controls="controls"> <source :src="videoUrl"
					type="video/mp4"></source> </video>
			</div>
		</div>
		<div class="ly-list_conf">
			<div class="ly-list_conbot">
				<div class="ly-list_cbttit">成功案例</div>
				<div class="ly-list_ch1">
					<div class="ly-list_ch2"></div>
				</div>


				<div class="ly-list_cbtmin">
					<ul>
						<li>
							<div class="ly-list_cmpic">
								<a href="/toproduct-detail?psId=1"><img src="images/prruducyy_03.jpg" alt="" /></a> <i></i>
								<b>(215)</b>
							</div>
							<p id="information2">
								<a v-for="c in items" href="">{{c.psName}}</a>
							</p>
						</li>
						<li>
							<div class="ly-list_cmpic">
								<a href="/toproduct-detail?psId=2"><img src="images/prruducyy_03.jpg" alt="" /></a> <i></i>
								<b>(215)</b>
							</div>
							<p id="information3">
								<a v-for="d in items" href="">{{d.psName}}</a>
							</p>
						</li>
						<li>
							<div class="ly-list_cmpic">
								<a href="/toproduct-detail?psId=5"><img src="images/prruducyy_03.jpg" alt="" /></a> <i></i>
								<b>(215)</b>
							</div>
							<p >
								<a  href="">绿色环保</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div id="bottom">
		<div class="bot-con1">
			<ul>
				<li class="bot-con1-li1">我们已经做到</li>
				<li>单项支持人数<span class="inde-span1"></span></li>
				<li>单项筹款金额<span class="inde-span2"></span></li>
				<li>累计筹款金额<span class="inde-span3"></span></li>
			</ul>
		</div>
		<div class="bot-con1 bot-con2">
			<ul>
				<li class="bot-con1-li1">发起项目流程</li>
				<li><span class="inde-span4"></span>发起人创建项目</li>
				<li><span class="inde-span5"></span>项目获得支持</li>
				<li><span class="inde-span6"></span>发起人发放回报</li>
				<li><span class="inde-span7"></span>用户收到回报</li>
			</ul>
		</div>
		<div class="bottom-ggt">
			<a href=""><img src="images/bottbom_68.jpg" alt="" /></a>
		</div>
		<div class="zc-yqlink">
			<ul>
				<li><a href="">阿里巴巴集团</a></li>
				<li><a href="">淘宝网</a></li>
				<li><a href="">天猫</a></li>
				<li><a href="">聚划算</a></li>
				<li><a href="">全球速卖通</a></li>
				<li><a href="">阿里巴巴国际交易市场</a></li>
				<li><a href="">1688</a></li>
				<li><a href="">阿里妈妈</a></li>
				<li><a href="">阿里旅行</a></li>
				<li><a href="">阿里云计算</a></li>
				<li><a href="">阿里巴巴集团</a></li>
				<li><a href="">淘宝网</a></li>
				<li><a href="">天猫</a></li>
				<li><a href="">聚划算</a></li>
				<li><a href="">全球速卖通</a></li>
				<li><a href="">阿里巴巴国际交易市场</a></li>
				<li><a href="">1688</a></li>
				<li><a href="">阿里妈妈</a></li>
				<li><a href="">阿里云计算</a></li>
			</ul>
		</div>
		<div class="footer-bd">

			<a href=" ">关于淘宝</a> <a href=" ">合作伙伴</a> <a href=" ">营销中心</a> <a
				href=" ">廉正举报</a> <a href=" ">联系客服</a> <a href=" ">开放平台</a> <a
				href=" ">诚征英才</a> <a href=" ">联系我们</a> <a href=" ">网站地图</a> <a
				href=" ">法律声明</a> <em>© 2003-2015 Taobao.com 版权所有</em><br> <br>
			<span>网络文化经营许可证：<a href=" ">浙网文[2013]0268-027号</a></span> <b>|</b> <span
				data-spm-protocol="i">增值电信业务经营许可证：<a href="">浙B2-20080224-1</a></span>
			<b>|</b> <span>信息网络传播视听节目许可证：1109364号</span> <b>|</b> <span>举报电话:0571-81683755</span>
		</div>
	</div>
</body>
</html>